<!doctype html>
<title>TITLE</title>
<head></head>
<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
  function LoadFile() {
      setInterval(function() {
          $.ajax({
            url: "update",
            cache: false
          }).done(function( html ) {
          });

          $.ajax({
            url: "getFile",
            cache: false
          }).done(function( html ) {
            $("#results").text(html);
          });
      }, 2000); // update every 2 seconds
    }
  
  </script>
  <pre id="results"></pre>
  <script> LoadFile() </script>
